<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexmerce</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <style>
        .logincontainer1{
    width: 50%;
    float: right;
    height: 100vh;
    position: fixed;
}
.logincontainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
    height: 100vh;
    position: fixed;
}
    </style>
    <div class="logincontainer1"></div>
    <div class="logincontainer">
        <div class="box">
        <form id="loginForm" action="#">
            <header class="miniHeader">Enter your</header>
            <header>Business Details</header><br>
            <div class="inputfield">
            <label>Business Name</label><br>
            <input type="text" id="E-mail" placeholder="Enter your email address" required>
            </div>
            <div class="inputfield">
                <label>Business Type</label><br>
                <input type="text" id="password" placeholder="select" required>
                </div>
                <div class="inputfield">
                    <label>Employee Size</label><br>
                    <input type="text" id="password" placeholder="select" required>
                    </div>
                <br>
                <button>Next</button>
                

        </form>
        </div>
    </div>

</body>
</html>