<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexmerce</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <style>
    .logincontainer1{
    width: 50%;
    float: right;
    height: 100vh;
    position: fixed;
}
.logincontainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
    height: 100vh;
    position: fixed;
}
.inputfield>input{
    border: 2px solid;
    border-color: #a9016d;
    padding: 20px;
    border-radius: 8px;
}
    </style>
    <div class="logincontainer1"></div>
    <div class="logincontainer">
        <div class="box">
        <form id="loginForm" action="#">
            <a href="/Templates/register.html"><img src="/Images/Back Arrow.png" alt=""></a>
            <header class="miniHeader">OTP Successfully Sent</header>
            <header>Check your mail for OTP</header><br>
            <div class="inputfield">
            <input type="text" id="number" placeholder="Enter OTP" required>
            </div>
            <br>
                <button>Submit</button>

        </form>
        </div>
    </div>

</body>
</html>