<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" href="/CSS/home.css" />
		<script
			src="https://kit.fontawesome.com/7717c1610a.js"
			crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<div class="homeHeader">
				<h2>Nexmerce</h2>
				<div class="infoData">
					<input type="search" placeholder="Search" />
					<div class="profileImg"></div>
				</div>
			</div>
			<div class="overviewContainer">
				<div id="overviewHeading">
					<h2>Overview</h2>
				</div>
				<div class="smallcontainer">
					<div class="miniblocks">
						<i class="fa-solid fa-cart-shopping"></i>
						<h4>PRODUCTS</h4>
					</div>
					<div class="miniblocks">
						<i class="fa-solid fa-file-invoice"></i>
						<h4>BILLINGS</h4>
					</div>
					<div class="miniblocks">
						<i class="fa-solid fa-truck"></i>
						<h4>DELIVERY</h4>
					</div>
					<div class="miniblocks">
						<i class="fa-solid fa-book"></i>
						<h4>PAYEERS BOOK</h4>
					</div>
					<div class="miniblocks">
						<i class="fa-solid fa-chart-column"></i>
						<h4>SALES</h4>
					</div>
					<div class="miniblocks">
						<i class="fa-regular fa-credit-card"></i>
						<h4>PAYMENTS</h4>
					</div>
					<div class="miniblocks">
						<i class="fa-solid fa-phone"></i>
						<h4>CONNECT</h4>
					</div>
					<div class="miniblocks">
						<i class="fa-solid fa-receipt"></i>
						<h4>TRANSACTION</h4>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>